.option-class {
    height: 50px;
    background: #cae4fb;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.selected-option-class {
    height: 50px;
    background: transparent;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    border: 2px solid green;
}